#button1
{
border-color: black;
border-width: 2px;
border-radius: 10px;
}

.login_div1 , .login_div2
{
    background-color: teal;
    padding: 10px;
    float: none;
    border-radius: 15px;
}

body
{
    background-color: palegoldenrod;
}

#output
{
    background-color: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float:none;
    text-align: left;
}

#number_1 , #number_2
{
    width: 60%;
}